<<<<<<< HEAD
@use 'variables' as *;

html,
body.page {
=======
@use "variables" as *;

html, body.page {
>>>>>>> 7db40e7b8fcbe4204fd107149b94be33dba44084
	height: 100%;
	font-family: $font;
	font-size: $baseFontSize;
	color: $baseFontColor;
	background: $background;
}

.page__wrapper {
	width: 100%;

	&_locked {
		position: fixed;
	}
<<<<<<< HEAD
}
=======
}
>>>>>>> 7db40e7b8fcbe4204fd107149b94be33dba44084
